#pageHeader{
    width:100vw;
    display:flex;
    justify-content:space-around;
}

body{
    height:100vh;
    width:100vw;
    margin:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#grid{
    box-sizing:border-box;
    display:grid;
    height:90%;
    width:100%;
    border: 5px solid black;
}

.cell{
    box-sizing:border-box;
    
    display:flex;
    justify-content:center;
    align-items:center;
}

.coloredCell{
    background-color:rgb(144, 189, 248);
}

#redBtn{ background-color:red; }
#orangeBtn{ background-color:orange; }
#yellowBtn{ background-color: yellow; }
#greenBtn{ background-color: green; }
#blueBtn{ background-color: blue; }
#violetBtn{ background-color: violet; }
#blackBtn{ background-color: black; }


.colorBtn{
    width:50px;
    height:50px;
}

#eraserBtn{
    background-image:url(./images/eraser.png);
    background-size: contain;
}