#pageHeader{
    height:5vh;
    width:100vw;
}

body{
    height:95vh;
    width:90vw;
    margin:0px;
}

#grid{
    display:grid;
    height:100%;
    width:100%;
}

.cell{
    box-sizing:border-box;
    
    display:flex;
    justify-content:center;
    align-items:center;
}

.coloredCell{
    background-color:rgb(144, 189, 248);
}